.sidebar {
 position: absolute;
 width: 300px;
 height: calc(100% - 40px);
 top: 20px;
 left: 20px;
 background: lightgrey;
 z-index: 9000;
 padding: .25rem;
}

.sidebar-header {
 display: flex;
 justify-content: space-between;
 margin-bottom: .5rem;
}

.sidebar-content {

}